<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RESTEasyWeek1.1</display-name>
  
 <servlet>
   <servlet-name>HttpServletDispatcher</servlet-name>
   <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
   
   
   
   <init-param>
    <param-name>javax.ws.rs.core.Application</param-name>
    <param-value>service.RegisterApplication</param-value>
   </init-param>
 </servlet>
 
 
 <servlet-mapping>
   <servlet-name>HttpServletDispatcher</servlet-name>
   <url-pattern>/abc/*</url-pattern>
 </servlet-mapping>
 
 <context-param>
   <param-name>resteasy.servlet.mapping.prefix</param-name>
   <param-value>/abc</param-value>
 </context-param>
</web-app>